In [1]:
# int,float,str,boolen --> basic data types

In [2]:
# list, tuples, set, dict --> python data types

In [3]:
# for, while, if else elif --> loops

In [4]:
# lambda, functions

In [5]:
# numpy

# What is Pandas?

Pandas is one of the most important libraries of Python.
</br>
Pandas has data structures for data analysis. The most used of these are Series and DataFrame data structures. Series is one dimensional, that is, it consists of a column. Data frame is two-dimensional, i.e. it consists of rows and columns.

To install Pandas, you can use "pip install pandas"

In [7]:
import numpy  as np
import pandas as pd

In [9]:
# pip install pandas

In [10]:
pd.__version__ # To print the installed vesion pandas

'2.2.0'

In [16]:
# python --> Series / DataFrame

In [17]:
# NAme  | Class
# Akash | 12
# Sagar | 11
# Abhij | 3rd year

# Series Data Structure

A Pandas Series is like a column in a table. It is a one-dimensional array holding data of any type.

In [20]:
obj = pd.Series([1,"John",3.5,"Hey"])
obj

0       1
1    John
2     3.5
3     Hey
dtype: object

In [21]:
type(obj)

pandas.core.series.Series

In [22]:
obj[2]

3.5

In [23]:
obj

0       1
1    John
2     3.5
3     Hey
dtype: object

In [24]:
obj[:3]
# Access index 0,1,2 [:end is not included]

0       1
1    John
2     3.5
dtype: object

In [25]:
obj

0       1
1    John
2     3.5
3     Hey
dtype: object

In [26]:
obj[2:]

2    3.5
3    Hey
dtype: object

In [27]:
obj

0       1
1    John
2     3.5
3     Hey
dtype: object

In [28]:
obj.values

array([1, 'John', 3.5, 'Hey'], dtype=object)

In [29]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [30]:
obj2=pd.Series([1,"John",3.5,"Hey"],
               index=["a","b","c","d"])
obj2

a       1
b    John
c     3.5
d     Hey
dtype: object

In [31]:
obj2.values

array([1, 'John', 3.5, 'Hey'], dtype=object)

In [32]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [33]:
obj2

a       1
b    John
c     3.5
d     Hey
dtype: object

In [34]:
obj["B"]
# python is case sensitive langauge!

KeyError: 'B'

In [36]:
obj2['b']

'John'

In [37]:
score={"Jane":69, "Bill":80,"Elon":85,"Tom":75,"Tim":95}
print(type(score))

<class 'dict'>

In [38]:
print(score)

{'Jane': 69, 'Bill': 80, 'Elon': 85, 'Tom': 75, 'Tim': 95}

In [39]:
names=pd.Series(score) # Convert to Series 
names

Jane    69
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

In [40]:
names['tim']

KeyError: 'tim'

In [41]:
names

Jane    69
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

In [43]:
names['Tim']

95

In [44]:
20 > 10

True

In [45]:
names

Jane    69
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

In [46]:
names >= 85

Jane    False
Bill    False
Elon     True
Tom     False
Tim      True
dtype: bool

In [47]:
names[names>=85]

Elon    85
Tim     95
dtype: int64

In [48]:
names

Jane    69
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

In [49]:
"jane" in names

False

In [50]:
"Jane" in names

True

In [51]:
names

Jane    69
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

In [52]:
names/10

Jane    6.9
Bill    8.0
Elon    8.5
Tom     7.5
Tim     9.5
dtype: float64

In [53]:
x = [1,2,3,4,5,6]
print(x)

[1, 2, 3, 4, 5, 6]

In [54]:
# start : stop
x[1:4] #1,2,3 index
# from 1,2,3 (4 not icl.)

[2, 3, 4]

In [55]:
# start stop step!
x[1:4:2]

[2, 4]